body {
    background: #1e1f29;
}

.grille {
    position: absolute;
    display: flex;
    width: 900px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: calc(25% - 2rem);
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: rgb(136, 13, 184);
    font-size: 24px;
    text-align: center;
    padding: 2rem 0;
    color: #3c0457;
}

.vide {
    width: calc(25% - 2rem);
    margin-bottom: 2rem;
    border-radius: 50%;
    border-radius: 50%;
    background: #fff2;
}

