body {
    background: #1e1f29;
}

.grille {
    margin-left: 500px;
    margin-top: 150px;
    position: absolute;
    display: flex;
    width: 900px;
    height: 530px;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4mm ridge rgba(170, 50, 220, .6);
    border-radius: 10px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.item {
    width: calc(25% - 5px);
    margin-bottom: 5px;
    text-align: center;
    padding: 2rem 0;
    color: #3c0457;
    cursor: pointer;
    object-fit:cover;
    max-width: 100%;
	height: auto;
}

.vide {
    width: calc(25% - 5px);
    margin-bottom: 5px;
    cursor: pointer;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

